@import "variables";
@import "mixins";
@import "normalize";
@import "base";

@import "blocks/main";
@import "blocks/logo";
@import "blocks/nav";
@import "blocks/player";
@import "blocks/history";
@import "blocks/online";
@import "blocks/settings";
@import "blocks/footer";