.alerts {
    padding: 0 20px;
    width: 100%;
    box-sizing: border-box;
}

.alert {
    padding: 12px 8px;
    margin-bottom: 8px;
    border: 1px solid gray;
    border-radius: 2px;
    color: white;
    font-size: 13px;
}

.alert--success {
    background: #3fad46;
    border-color: #447744;
}

.alert--error {
    background: #d9534f;
    border-color: #774444;
}

.alert__name {
    font-weight: bold;
}

@media #{$desktop} {
    .alerts {
        position: relative;
        top: -20px;
    }
}