.history {
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px;
}

.history__title {
    font-size: 20px;
    margin: 0 0 12px;
}

.history__items {
    padding: 0;
    margin: 0;
    list-style: none;
}

.history__item {
    display: flex;
    padding: 2px 0 6px;
}

.history__item:nth-child(odd) {
    background-color: #eeffee;
}
.history__item:nth-child(even) {
    background-color: #fafafa;
}

.history__item-time {
    width: 50px;
    text-align: center;
    padding-top: 1px;
}

.history__item-song {
    font-size: 16px;
    margin: 0 0 4px;
}

.history__item-details {
    font-size: 10px;
}

@media #{$tablet} {
    .history__title {
        padding-top: 16px;
    }
}

@media #{$desktop} {
    .history__title {
        padding-top: 0;
    }
}